# Lists the pip packages used by the src code of this project. Doesn not
# include pre-commit packages.
# Support parsing Json files.
jsons
# Allow for auto generation of type-hints during runtime.
pyannotate
# Run python tests.
pytest-cov
# Ensure the python function arguments are verified at runtime.
typeguard
# Control Android apps through their user interface (UI).
uiautomator
# Parse xml files into Python dictionaries.
xmltodict
